<!--商家登陆页面-->
<html>
    <body background=" ">
        <h1 style="text-align: left;color:red">商家登陆</h1>
            <form method="POST" action=" ">
                    请输入账号：
                    <!---<h6 style="font-family: arial;color:red;;">请输入账号</h6>-->
                    
                    <input cols="15" rows="1" name='merName'>
                   <br>
                    <!--<h6 style="font-family: arial;color:red;;">请输入密码</h6>-->
                    请输入密码：
                    
                    <input cols="15" rows="1" name='merPassword' type="password">
                    <br>
                    
                    <input type="submit" value="登陆">
                
                    
                       
                </form>
    </body>
</html>