<!--商家注册页面-->
<html>
    <body background="static/image/2.jpg">
       
    
        
        <h1 style="text-align: center"></h1>
        <p style="font-size:40;color:red;">商家注册</p>
        <form method="POST" action="merchantslogin">
          用户名:
          <br>
            
            <input cols="15" row="1" name="merName">
            <br>
            密码: 
            <br>
            <input cols="15" row="1" name="merPassword" type="password">
            <br>
            <input type="submit" value="注册">
            
            <br>
            <br>
            <br>
            <a href="merchantslogin/">已有账户 &raquo;</a>


        </form>
        
        
    
    </body>
</html>